<%- include("./partials/header.ejs") %>

<form action="/api/user" method="POST">

    <label for="name">NAME</label>
    <input type="text" id="name" name="name" required>
    <label for="age">AGE:</label>
    <input type="text" id="age" name="age" required>
    <label for="email">EMAIL:</label>
    <input type="text" id="email" name="email" required>
    <label for="password">PASSWORD</label>
    <textarea id="password" name="password" required></textarea>
    <button>Create user</button>

</form>


<%- include("./partials/footer.ejs") %>